<div id={{id}} class="default">
  <div class="callout">
    <div class="imgContainer">
      <img id="ctaImage" src={{image}}></img>
    </div>
    {{{summary}}}
    <br>
    <br>
    {{#list links}}
    <a href="{{url}}"><div class='calloutButton'>{{title}}</div></a>
    {{/list}}
  </div>
</div>
